<div class="main">
  <h1 class="name-title"> João Campos </h1>
  <h2> Full Stack Web Developer </h2>
  <p>Enthusiast and creative web-developer with a diverse background in music and arts looking to make a career in the tech scene. </p>
  <p>My passion for technology and its ability to improve people's lives made me decide to join Ironhack, an intense full-time bootcamp located in Miami, FL. </p>
  <p>Specialties: JavaScript, MongoDB, Express, Angular 2, Node.js, HTML and CSS. </p>
  <p> https://github.com/joaoJs </p>
</div>
<div class="project one">
  <div class="left">
    <h3> Sebastian</h3>
    <p>A 2-d game. Sebastian needs to catch the coins and reach the last screen but there are some birds and fireballs on his way and he needs to avoid them.
The soundtrack is by J.S.Bach. </p>
    <p>Technologies used: JavaScript, HTML, CSS, Bootstrap, JQuery and Canvas.</p>
  </div>
  <div class="right">

  </div>
</div>
<div class="project two">
  <div class="left">

  </div>
  <div class="right">
    <h3> Myccompanist </h3>
    <p>
      Myccompanist is a social media network for classical musicians.
    </p>
    <p>
      Technologies: Node.js, Express.js, MongoDB, Mongoose, Passport, Heroku, JavaScript, Bootstrap, HTML, CSS
    </p>
  </div>
</div>
<div class="project three">
  <div class="left">
    <h3> ifMetro</h3>
    <p>A simulation as if the Miami metro line was extended. </p>
    <p> Technologies Used: Angular 2, Node.js, Express.js, MongoDB, Mongoose, Passport, Heroku, JavaScript, Bootstrap, HTML, CSS, Heroku. </p>
  </div>
  <div class="right">

  </div>
</div>
<div class="skills">
  <h2> Skills </h2>
  <h3>JavaScript</h3>
  <h3>CSS</h3>
  <h3>Front-End Development</h3>
  <h3>Mongo DB</h3>
  <h3>Express</h3>
  <h3>Angular 2</h3>
  <h3>Node JS</h3>
</div>
