<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav">
  <div class="inner-nav">
    <div class="top-email">
      <p>j.campos4g@gmail.com</p>
    </div>
    <div class="sm-links">
      <p>
        <a href="#0">F</a>
        <a href="#0">L</a>
      </p>
    </div>
  </div>
  <div class="inner-nav">
    <div class="name">
      <h3>João Campos</h3>
      <p>Full Stack Web Developer - JavaScript, MongoDB, Express, Angular 2, Node.js.</p>
    </div>
    <div class="routes">
      <p>
        <a href="#0"> Developer </a>
        <a href="#0"> Artist </a>
        <a href="#0"> Pianist </a>
      </p>
    </div>
  </div>
  <div>

  </div>
</nav>

<router-outlet></router-outlet>
