<div class="bg">

<div class="text">
  <h1> WHO I AM </h1>
  <h3> Full Stack Web Developer - JavaScript, MongoDB, Express, Angular 2, Node.js </h3>
  <p>As an immensely creative individual, I like to learn new tools with which I can create meaning.</p>
  <p>After discovering JavaScript, I decided I wanted to use it in order to solve company's problems and help them achieve their goals.</p>
  <p>In this page you can find a few examples of my past creations.</p>
</div>

<div class="outer">
<div class=".container div">
  <div class="row">
    <div class="col-md-4 sp-bw"></div>
    <div class="col-md-4 sp-mesh"></div>
    <div class="col-md-4 terter"></div>
  </div>
  <div class="row">
    <div class="col-md-4 loxstedt"></div>
    <div class="col-md-4 cherrylax"></div>
    <div class="col-md-4 macke-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4 hockney-1"></div>
    <div class="col-md-4 hockney-2"></div>
    <div class="col-md-4 macke-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 exp-41"></div>
    <div class="col-md-4 exp-58"></div>
    <div class="col-md-4 exp-23"></div>
  </div>
  <div class="row">
    <div class="col-md-4 logo"></div>
    <div class="col-md-4 exp-34"></div>
    <div class="col-md-4 exp-56"></div>
  </div>
  <div class="row">
    <div class="col-md-4 camila"></div>
    <div class="col-md-4 figure"></div>
    <div class="col-md-4 odilon"></div>
  </div>
</div>
</div>

</div>
